body {
    margin: 0;
    padding: 0;
}

.backgroundImage {
    height: 100vh;
    overflow: hidden;
    background-image: url("./picture/main_bg.jpg"), linear-gradient(to bottom right, #0b6f7e, #0a9871, #0b9073);
    background-size: 110%, 110%;
    background-repeat: no-repeat;
}

.page {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding-left: 0, 100px;
    overflow: hidden;
}

button {
    background-color: transparent;
    cursor: pointer;
}

.pageContent {
    position: relative;
    width: 100%;
    max-width: 80vw;
    min-height: 80vh;
    max-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    background-color: #444;
    box-shadow: 0 0 100px -5px rgba(10, 10, 10, .25);
    border-radius: 32px;
    /* overflow: hidden; */
    -webkit-backface-visibility: hidden;
}

header {
    display: inline-block;
    float: left;
    width: 30%;
    max-width: 380px;
    height: 100%;
    max-height: 80vh;
    min-height: inherit;
    text-align: center;
    padding: 70px 30px 45px;
    overflow: auto;
}

.headerPhoto {
    position: relative;
    width: 180px;
    margin: 0 auto 30px;
    z-index: 1;
}

.headerPhoto img {
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    border: solid 5px #beabab;
    border-radius: 50%;
    display: block;
}

.headerTitle h2 {
    font-size: 36px;
    font-weight: 600;
    color: #f5f5f5;
    margin: 5px 0 7px;
    line-height: 1.2em;
}

.headerTitle h4 {
    font-size: 18px;
    font-weight: 300;
    color: #bbb;
    margin: 5px 0;
    line-height: 1.2em;
}

.downloadCVButton button {
    display: inline-block;
    border: #fff solid 2px;
    border-radius: 30px;
    width: 55%;
    text-align: center;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0;
    padding: 10px;
}

.downloadCVButtonColor button {
    display: inline-block;
    border: #fff solid 2px;
    border-radius: 30px;
    width: 55%;
    text-align: center;
    background-color: #fff;
    color: #0a9871;
    font-size: 18px;
    font-weight: 300;
    margin: 30px 0;
    padding: 10px;
}

.socialLink {
    display: inline-flex;
    margin: 20px 0;
}

.socialType {
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    padding: 1px;
}

.hoverSocialLink {
    color: #fff;
    border-radius: 20px;
    font-size: 20px;
    height: 30px;
    width: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    background-color: gray;
    padding: 1px;
}

.mainContent {
    position: absolute;
    background-color: #222;
    height: 100%;
    width: 70%;
    right: 0;
    border-radius: 32px;
    box-sizing: content-box;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.introBox,
.aboutMe,
.portfolio,
.getInTouch {
    width: 47%;
    height: 47%;
    background-color: rgba(34, 34, 34, 255);
    margin: 5px 5px 5px 12px;
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: solid white 1px;
    color: #fff;
    font-size: xx-large;
    font-weight: 1000;
}

.introBox {
    border: none;
}

.introBox div>p:nth-of-type(1) {
    font-size: large;
    font-weight: 300;
    margin-left: 15px;
}

.introBox div>p:nth-of-type(2) {
    font-size: xx-large;
    font-weight: 1000;
}

.introBox div>p:nth-of-type(3) {
    color: rgb(11, 163, 118);
    font-size: large;
    display: flex;
    justify-content: center;
}

.firstWord2,
.firstWord3,
.firstWord4 {
    color: rgb(11, 163, 118);
}

.green {
    color: rgb(11, 163, 118);
    cursor: default;
    opacity: 1;
    animation: slideUp 0.5s ease forwards
}

@keyframes slideUp {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        opacity: 1;
        transform: translateY(-30px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.while {
    color: aliceblue;
    cursor: default;
    opacity: 1;
    animation: slideDown 0.5s ease forwards
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        opacity: 1;
        transform: translateY(30px);
    }

    60% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#aboutMeDialog,
#portfolioDialog,
#getInTouchDialog,
#gameOfLifeDialog,
#caloriesWebDialog,
#aiProjectDialog,
#caloriesAppDialog {
    position: absolute;
    background-color: #222;
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 50px;
    overflow: scroll;
    padding: 0;
}

.closeButton,
.portfolioCloseButton {
    border: none;
    font-size: xx-large;
    /* position: absolute; */
    position: sticky;
    left: 90%;
    top: 30px;
    color: #fff;
    z-index: 4;
}

.sliderIn {
    opacity: 0;
    cursor: default;
    animation: sliderIn 0.5s ease forwards;
}

@keyframes sliderIn {
    0% {
        transform: translateX(1000px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sliderDown {
    opacity: 0;
    cursor: default;
    animation: sliderDown 0.5s ease forwards;
}

@keyframes sliderDown {
    0% {
        transform: translateX(-1000px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sliderLeft {
    opacity: 0;
    cursor: default;
    animation: sliderLeft 0.5s ease forwards;
}

@keyframes sliderLeft {
    0% {
        transform: translateY(-1000px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sliderRight {
    opacity: 0;
    cursor: default;
    animation: sliderRight 0.5s ease forwards;
}

@keyframes sliderRight {
    0% {
        transform: translateY(1000px);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#aboutMe {
    font-weight: 800;
    font-size: 300%;
    color: white;
    text-align: center;
    margin-top: 5vh;
}


#me {
    color: rgba(207, 120, 23, 255);
}


.line {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    color: #0a9871;
    margin-top: 1rem;
}


.underline {
    border-bottom: 0.1mm solid gray;
    width: 14vw;
    margin: 0 2vw;
}

.aboutMeContent div {
    color: #fff;
    margin-left: 2vw;
    margin-top: 1rem;
}

#personalInfotopic {
    font-size: x-large;
    font-weight: bolder;
    margin-top: 1rem;
}

#personalInfoAboutMe {
    font-size: larger;
    display: flex;
    justify-content: space-evenly;
}

#personalButton {
    margin-left: 4vw;
}

.downloadButton {
    background-color: #ffb400;
    color: white;
    height: 5vh;
    float: left;
    font-weight: 700;
    font-size: 15px;
    border: none;
    padding: 0.5rem 2rem;
    width: 250px;
}

.downloadButton span {
    margin-left: 5px;
}

.blogButton {
    color: #b5830b;
    border: solid 1px #b5830b;
    height: 5vh;
    margin-left: 2vw;
    width: 20vw;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3vh;
    width: 250px;
}

.blogButton:hover {
    background-color: #ffb400;
    color: #fff;
}

.blogButton span {
    margin-left: 5px;
}

.personalEX {
    height: 100vh;
    width: 99%;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
    margin-left: 1px;
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.personalEXType {
    display: block;
    text-align: center;
}

.personalEXTypeBox {
    color: #888;
    border: solid 1px #333;
    cursor: pointer;
    margin: 20px 30px;
    height: 3rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personalEXTypeBox:hover {
    border: solid 1px #494949;
}

.clickPersonalEXTypeBox {
    border: none;
    background-color: #ffb400;
    font-weight: bolder;
    color: #fff;
    margin: 20px 30px;
    height: 3rem;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personalEXTypeBoxImg {
    margin-right: 10px;
    font-size: larger;
}

.personalEXContent {
    position: relative;
    height: 100%;
    width: 70%;
}

.TopBox {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 95%;
    height: 70%;
    color: #fff;
    z-index: 3;
    top: 18%;
}

.mediaBox {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 90%;
    height: 60%;
    color: #fff;
    z-index: 2;
    top: 15%;
    left: 2%;
}

.mediaBox:hover {
    top: 13.5%;
}

.endBox {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 85%;
    height: 70%;
    color: #fff;
    z-index: 1;
    top: 12%;
    left: 4%;
}

.endBox:hover {
    top: 9.5%;
}

.toEnd {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 85%;
    height: 70%;
    color: #fff;
    z-index: 1;
    top: 12%;
    left: 4%;
    transition: z-index 0.5s, width 0.5s, top 0.5s;
}

.toEnd:hover {
    top: 9.5%;
}

.toTop {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 95%;
    height: 70%;
    color: #fff;
    z-index: 3;
    top: 18%;
    transition: z-index 0.5s, width 0.5s, top 0.5s;
}

.toMedia {
    position: absolute;
    background-color: #333;
    border: solid 1px #494949;
    width: 90%;
    height: 60%;
    color: #fff;
    z-index: 2;
    top: 15%;
    left: 2%;
    transition: z-index 0.5s, width 0.5s, top 0.5s;
}

.toMedia:hover {
    top: 13.5%;
}

.personalEXContentTopic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    color: #ffb400;
    font-weight: bold;
    font-size: 21px;
    background-color: #151515;
    border: solid 1px #494949;
}

.experienceContentBox,
.educationContentBox {
    height: 30%;
    padding: 25px 15px;
    color: #fff;
}


.educationContentBox>div:nth-of-type(1) {
    font-size: 15px;
    font-weight: 700;
}

.experienceContentBox>div:nth-of-type(1) {
    font-size: 15px;
    font-weight: 700;
}

.experienceContentBox>div:nth-of-type(2) {
    font-size: 15px;
    font-weight: 500;
    margin-top: 2%;
}

.experienceContentBox>div:nth-of-type(3) {
    font-size: 13px;
    color: #aaa;
    margin-top: 2%;
}

.educationContentBox>div:nth-of-type(2) {
    font-size: 13px;
    color: #aaa;
    margin-top: 2%;
}

.experienceContentBox>div:nth-of-type(3) span {
    margin-right: 10px;
}

.educationContentBox>div:nth-of-type(2) span {
    margin-right: 10px;
}

.educationContentBox p {
    font-size: 14px;
    /* margin-top: 2%; */
    margin-bottom: 4px;
}

.educationContentBox ul {
    font-size: 13px;
    margin-top: 0;
    padding-left: 15px;
}

.experienceContentBoxEnd {
    border-bottom: #ffb400 solid 2px;
    width: 18%;
    margin-top: 20px;
}

.skillContentBox {
    display: flex;
    flex-wrap: wrap;
}

.skillContentBox div {
    width: 40%;
    margin: 2% 4%;
    font-size: 21px;

}

.skillContentBox div ul {
    font-size: 15px;
    width: 40%;
    padding-left: 3%;
    margin-top: 3%;
}

.skillContentBox div span {
    border-bottom: solid 2px #fff;
}

.portfolioContent {
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.portfolioContent img {
    width: 100%;
    height: 100%;
}

.myProject,
.youtubeVideo,
.localVideo,
.comingSoon {
    width: 40%;
    height: 40%;
    position: relative;
    /* margin: 50px; */
    margin: 15px 12px 15px 12px;
    overflow: hidden;
    cursor: pointer;
}

.coverBox {
    width: 100%;
    height: 100%;
    background-color: #ffb400;
    z-index: 1;
    position: absolute;
    opacity: 0;
    top: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
}

.upInBox {
    opacity: 1;
    animation: moveIn 0.4s ease forwards;
}

@keyframes moveIn {
    0% {
        opacity: 1;
        transform: translateY(300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.outUpInBox {
    opacity: 1;
    animation: moveDown 0.4s ease forwards;
}

@keyframes moveDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(300px);
    }
}

.downInBox {
    opacity: 1;
    animation: downIn 0.4s ease forwards;
}

@keyframes downIn {
    0% {
        opacity: 1;
        transform: translateY(-300px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.outDownInBox {
    opacity: 1;
    animation: outDownIn 0.4s ease forwards;
}

@keyframes outDownIn {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-300px);
    }
}


.leftInBox {
    opacity: 1;
    animation: leftIn 0.4s ease forwards;
}

@keyframes leftIn {
    0% {
        opacity: 1;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.outLeftInBox {
    opacity: 1;
    animation: outLeftIn 0.4s ease forwards;
}

@keyframes outLeftIn {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}


.rightInBox {
    opacity: 1;
    animation: rightIn 0.4s ease forwards;
}

@keyframes rightIn {
    0% {
        opacity: 1;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.outRightInBox {
    opacity: 1;
    animation: outRightIn 0.4s ease forwards;
}

@keyframes outRightIn {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

.getInTouchContent {
    width: 90%;
    /* background-color: #0a9871; */
    display: flex;
    padding: 20px 30px;
    height: 45%;
}

.personalContact {
    height: 100%;
    width: 30%;
}

.contactBox {
    height: 40%;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.personalContact>div:nth-of-type(4) {
    margin-bottom: 30px;
}

.personalContact div {
    text-align: center;
}

.personalContactImg {
    font-size: 33px;
    color: #ffb400;
}

.personalContactWord {
    color: #eee;
    font-weight: 600;
    font-size: 15px;
    margin-top: 8px;
}

.messageBox {
    color: #fff;
    text-align: center;
    width: 60%;
}

.messageBox h2 {
    text-align: start;
    margin-left: 8%;
}

.messageBox h2 span {
    color: #ffb400;
}

.comments {
    display: flex;
}

.commentsPeople {
    margin: 0;
    width: 50%;
}

.commentsPeople input {
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 25px 10px 12px;
    text-align: left;
    background-color: transparent;
    width: 50%;
    margin-top: 30px;
    color: #fff;
}

.commentsMessage textarea {
    border: 2px solid #999;
    border-radius: 5px;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    background-color: transparent;
    text-align: left;
    color: #fff;
    margin-top: 30px;
    height: 75%;
}

.sendMessage {
    cursor: pointer;
    width: 30%;
    height: 20%;
    border: 2px solid #ffb400;
    padding: 10px;
    margin: 9%;
    font-size: 1em;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sendMessage:hover {
    background-color: #ffb400;
}

.gameOfLifeContent {
    display: flex;
    width: 90%;
    height: 90%;
    align-items: center;
}

.portfolioPicture {
    height: 60%;
    width: 80%;
    position: relative;
    overflow: hidden;
}

.caloriesAppPicture {
    height: 90%;
    width: 70%;
}

.pictureChoose {
    position: absolute;
    z-index: 1;
    /* background-color: transparent; */
    display: flex;
    /* justify-content: space-between; */
    bottom: 20px;
    right: 10px;
}

.chooseBox {
    width: 12px;
    height: 12px;
    margin: 5px;
    border: 1px solid #9e9e9e;
    display: block;
    border-radius: 30px;
    cursor: pointer;
}

.chooseBoxActive {
    background-color: #9e9e9e;
}

.pictureChoose :hover {
    background-color: #9e9e9e;
}

.gameOfLifeContent div img {
    height: 100%;
    width: 100%;
}

.btnBox {
    color: #ababab;
    font-size: xx-large;
    position: sticky;
    top: 85%;
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.btnBox div :hover {
    color: #fff;
}

#gameOfLifeDialog,
#caloriesWebDialog,
#aiProjectDialog,
#caloriesAppDialog {
    padding-left: 30px;
}

.dialogTopic {
    color: #fff;
    /* font-size: x-large; */
    font-weight: 800;
}

.portfolioDescription {
    /* background-color: #333; */
    display: block;
    padding-left: 30px;
    width: 50%;
}

.descriptionContent {
    background-color: #333;
    padding: 15px;
    color: #fff;
    /* width: 100%; */
}

.descriptionDetail {
    /* display: flex; */
    /* flex-wrap: wrap; */
}

.descriptionDetail i {
    color: #0ba376;
    /* margin-right: 8px; */
}

.descriptionMain {
    font-size: 15px;
    line-height: 1.6em
}

.technology {
    display: flex;
    flex-wrap: wrap;
}

.technologyBoxes {
    display: inline-block;
    font-size: 14px;
    padding: 2px 7px;
    background-color: #444;
    border-radius: 3px;
    border: 1px solid #444;
    margin: 3px 3px 2px;
    /* height: 10%; */
}

.pictureNotActive {
    opacity: 0;
    position: absolute;
}

.pictureActive {
    opacity: 1;
    position: absolute;
}

.pictureMovingActive {
    opacity: 1;
    position: absolute;
}

.pictureActiveMoveLeftIn {
    opacity: 1;
    position: absolute;
    animation: pictureMoveLeftIn 1s ease forwards;
}

@keyframes pictureMoveLeftIn {
    0% {
        opacity: 1;
        transform: translateX(-300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pictureActiveMoveLeftOut {
    opacity: 1;
    position: absolute;
    animation: pictureMoveLeftOut 1s ease forwards;
}

@keyframes pictureMoveLeftOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-300px);
    }
}

.pictureActiveMoveRightIn {
    opacity: 1;
    position: absolute;
    animation: pictureMoveRightIn 1s ease forwards;
}

@keyframes pictureMoveRightIn {
    0% {
        opacity: 1;
        transform: translateX(300px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.pictureActiveMoveRightOut {
    opacity: 1;
    position: absolute;
    animation: pictureMoveRightOut 1s ease forwards;
}

@keyframes pictureMoveRightOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}