@media (max-width: 990px) {
    .personalPicture {
        display: none;
    }

    dialog {
        width: 95vw !important;
        right: 1vw !important;
    }

    .line {
        margin-left: 25vw !important;
    }

    .aboutMePersonalImg {
        display: block !important;
        height: 50vh;
    }

    #personalInfoAboutMe {
        margin-left: 0vw !important;
        margin-bottom: 2vh !important;
    }

    #personalInfoAboutMe p {
        margin-top: 1vh
    }

    .portfolioItem {
        margin: 2vh 2vw 2vh 2vw !important;
    }

    #portfolioItemList {
        margin-left: 10vw;
    }

    .boxesWords {
        left: 5vw !important;
    }
}

@media (max-width: 769px) {

    .detailBox2,
    .detailBox3,
    .detailBox4 {
        height: 20vh !important;
        padding-top: 8vh !important;
        margin-top: 2vh;
    }

    .detailBox1 {
        height: 20vh !important;
        padding-top: 4vh !important;
        margin-top: 2vh;
        font-size: large !important;
    }

    p {
        margin: 0;
    }

    .detailBox1 p {
        margin-top: 0.5vh;
    }

    #personalInfo {
        display: block !important;
    }

    .aboutMePersonalImg {
        width: 85vw;
        height: 70vh !important;
        margin-left: 2vw;
        margin-bottom: 3vh;
    }

    #personalInfoAboutMe {
        margin-left: 0vw !important;
        margin-top: 0vh !important;
    }

    .blogButton {
        margin-left: 0 !important;
        margin-top: 2vh;
        width: 88vw !important;
    }

    .blogMosueOver {
        margin-left: 0 !important;
        margin-top: 2vh;
        width: 88vw !important;
    }

    .portfolioItem {
        margin-top: 1vh !important;
    }

    .portfolioItem img {
        width: 50vw !important;
    }

    #portfolioItemList {
        text-align: center;
    }

    .addWords {
        width: 51vw !important;
        left: 11.5vw
    }

    .boxesWords {
        left: 10vw !important;
    }

    input {
        width: 80vw !important;
    }

    #sendMessage {
        width: 70vw !important;
        margin-top: 4vh !important;
    }
}

@media (max-width: 650px) {

    #linkedin,
    #facebook,
    #twitter,
    #whatsapp {
        background-color: transparent !important;
        margin-left: 2vw !important;
    }

    .addWords {
        font-size: large !important;
        font-weight: 200 !important;
    }

    .boxesWords {
        left: 5vw !important;
    }
}


.line {
    display: flex;
    align-items: center;
    margin-left: 15vw;
    margin-top: 2vw;
    margin-bottom: 1rem;
}

body {
    padding-top: 3.5rem;
    color: #656c6d;
    background-color: rgba(17, 17, 17, 255);
}

button {
    background-color: transparent;
    border: none;
}

.closeButton,
.closeYoutubeButton {
    color: aliceblue;
    position: absolute;
    right: 3rem;
    font-size: xx-large;
}

.detailBox1 {
    background-color: rgba(17, 17, 17, 255);
    color: aliceblue;
    height: 40vh;
    text-align: center;
    padding-top: 15vh;
    font-size: x-large;
    font-weight: bold;

    border-radius: 0.5rem;
}

.detailBox1>p:nth-of-type(1) {
    font-size: large;
    font-weight: 300;
}

.detailBox1>p:nth-of-type(2) {
    font-size: xx-large;
    font-weight: 1000;
}

.detailBox1>p:nth-of-type(3) {
    color: rgba(114, 182, 38, 255);
    font-size: large;
}

.detailBox2,
.detailBox3,
.detailBox4 {
    background-color: rgba(34, 34, 34, 255);
    color: aliceblue;
    height: 40vh;
    text-align: center;
    padding-top: 18vh;
    font-size: xx-large;
    font-weight: 1000;
    border: solid white 1px;
    border-radius: 0.5rem;
}

img {
    height: 90vh;
    width: 24vw;
}

.firstWord2,
.firstWord3,
.firstWord4 {
    color: rgba(114, 182, 38, 255);
}

.green {
    color: rgba(114, 182, 38, 255);
}

.while {
    color: aliceblue;
}

dialog {
    position: absolute;
    z-index: 1;
    background-color: rgba(34, 34, 34, 255);
    height: 91vh;
    border: none;
    width: 73vw;
    right: -25vw;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
}

element::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

#aboutMe {
    font-weight: 800;
    font-size: 300%;
    color: white;
    text-align: center;
    margin-top: 5vh;
}

#me {
    color: rgba(207, 120, 23, 255);
}

.underline {
    border-bottom: 0.1mm solid gray;
    width: 15vw;
    margin: 0 2vw;
}

.underlineImg {
    color: rgba(207, 120, 23, 255);
}

.aboutMePersonalImg {
    display: none;
    height: 50vh;
}

#personalInfo {
    display: flex;
}

#personalInfotopic {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    margin-left: 2vw;
}

#personalInfodetail {
    margin-left: 2vw;
}

#personalInfoAboutMe {
    margin-left: 2vw;
    margin-top: 2vh;
    font-size: larger;
    margin-bottom: 28vh;
}

#personalButton {
    margin-left: 2vw;
}

.dwonloadButton {
    background-color: #ffb400;
    color: white;
    height: 5vh;
    font-size: larger;
    font-weight: bold;
}

.blogButton {
    color: #b5830b;
    border: solid 1px #b5830b;
    height: 5vh;
    margin-left: 2vw;
    width: 20vw;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 3vh;
}

.blogMosueOver {
    background-color: #ffb400;
    color: white;
    height: 5vh;
    margin-left: 2vw;
    width: 20vw;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 3vh;
}

#portfolioItemList {
    display: flex;
    flex-wrap: wrap;
}

.portfolioItem {
    margin: 2vh 4vw;
}

.portfolioItem img {
    height: 40vh;
    width: 30vw;
}

#youtubeVideo,
#imageProject,
#sliderProject,
#localVideo {
    position: relative;
}

.hiddenWords1,
.hiddenWords2,
.hiddenWords3,
.hiddenWords4 {
    display: none;
    position: relative;
}

.boxesWords {
    position: absolute;
    top: 19vh;
    left: 7.5vw;
}

.addWords {
    z-index: 1;
    height: 40vh;
    width: 30vw;
    font-size: x-large;
    font-weight: bold;
    background-color: #ffb400;
    position: absolute;
    top: 0;
}

.contactBox {
    background-color: black;
    border: solid 0.1vw gray;
    height: 65vh;
}

.contactBoxTopic {
    color: #ffb400;
    font-size: x-large;
    font-weight: 500;
    margin-top: 2vh;
}

.contactBoxContext {
    display: flex;
    margin-top: 2vh;
}

.contactBoxContext button {
    border-radius: 100%;
    width: 4vw;
    height: 4vh;
    margin-left: 1vw;
}

.contactBoxSvg {
    color: #656c6d;
    margin-right: 1vh;
}

#facebook {
    background-color: rgba(59, 89, 152, 255);
    color: white;
    padding-top: 1vh;
}

#twitter {
    background-color: rgba(29, 161, 242, 255);
    color: white;
    padding-top: 1vh;
}

#whatsapp {
    background-color: rgb(7, 160, 7);
    color: white;
    padding-top: 1vh;
}

#linkedin {
    background-color: rgba(0, 119, 181, 255);
    color: white;
    padding-top: 1vh;
}

input {
    background-color: rgba(34, 34, 34, 255);
    border: none;
    border-bottom: solid 1px gray;
    width: 50vw;
    margin-left: 1vw;
}

#inputName,
#inputEmail,
#inputComment {
    display: flex;
    margin-top: 4vh;
}

#sendMessage {
    background-color: #ffb400;
    margin-top: 10vh;
    width: 30vw;
    height: 8vh;
    font-size: larger;
    font-weight: bold;
}

#playYoutube {
    z-index: 2;
    width: 53vw !important;
    height: 50vh;
    background-color: transparent;
    top: 25vh;
    left: 15vw;
}